.divTable
{
    padding: 0;
    border:0;
    margin:0;
    display:  table;
    width:100%;
}

.divRow
{
    display:table-row;
    width:auto;
}

.divCell
{
    float:left;/*fix for  buggy browsers*/
    display:table-column;
}

.menu{
    padding-left: 10px;
}

.footer{
    margin: 0;
    padding: 1rem;
    border: 0;
    height: 5rem;
    background-color: #eee;
    text-align: left;
    font-size: 12px;
}

.link{
    color: #47f;
    text-decoration:none;    
}

.link:hover{
    text-decoration: underline;    
}
