/* CSS for website */

.gitbook-link{
  display:none !important;
}
.book-header{
  display:none !important;
}
.navigation{
  display:none !important;
}

.custom-link{
  display:none
}

ul.summary > li:after{
  font-weight: 900;
  font-size: 2rem;
  content: "JustApps4All Engineering";
}






