/* CSS for website */
.gitbook-link{
  display:none !important;
}
.book-header{
  display:none !important;
}
.navigation{
  display:none !important;
}

li.chapter > ul.articles {
    display:none !important;
}

li.active > ul.articles {
    display:block !important;
}