/* CSS for website */
/*
.gitbook-link{
  display:none !important;
}
.book-header{
  display:none !important;
}
.navigation{
  display:none !important;
}

.custom-link{
  text-decoration:none;
  font-weight: 900;
  font-size: 2rem;
}
*/




