/* CSS for website */

.gitbook-link{
  display:none !important;
}
.book-header{
  display:none !important;
}
.navigation{
  display:none !important;
}

ul.summary > li > a.custom-link{
  display: none !important;
}

ul.summary > li:first-of-type:after {
  font-weight: 900;
  font-size: 2rem;
  content: "JustApps4All Engineering";
  margin: 15px ;
}







